<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>John 0 Isaac</title>

    <link type="text/css" rel="stylesheet" href="/static/css/home.css" />
    <link rel="shortcut icon"  href="/static/ico/favicon.ico">
</head>

<body>
    <!-- Header -->
			<header id="header" >
                <input type="text" placeholder="Search..">
                <a href="#home">Home</a>
                <a href="#persons">Persons</a>
			</header>

		<!-- Banner -->
			<section id="banner">
				<img src="https://scontent.fcai2-2.fna.fbcdn.net/v/t1.0-9/49564057_766580557027379_9064141699223126016_n.jpg?_nc_cat=100&_nc_sid=8bfeb9&_nc_ohc=iRBJZHgO9IQAX_JptRZ&_nc_ht=scontent.fcai2-2.fna&oh=db8cde1edab8894b9069176813126445&oe=5F338E49" alt="Girl in a jacket">
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
			</footer>
</body>

</html>