<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John 0 Isaac</title>
    <link type="text/css" rel="stylesheet" href="/home.css" />
    <link rel="shortcut icon"  href="/favicon.ico">
</head>

<body>
    <!-- Header -->
			<header id="header" >
                <input type="text" placeholder="Search..">
                <a href="#home">Home</a>
                <a href="#persons">Persons</a>
			</header>

		<!-- Banner -->
			<section id="banner">
				
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="container">
					
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class=""><span class="label">Twitter</span></a></li>
					<li><a href="#" class=""><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
				</ul>
				<ul class="menu">
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
			</footer>
</body>

</html>